<!DOCTYPE html>
<html lang="tr">
<head>

    <!-- Basic -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>sakinoks.com</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="abstract" content="Son Kalite Endüstriyel Paslanmaz Malzemeler." />
    <meta name="author" content="info@ceoweb.net" />
    <meta name="copyright" content="sakinoks.com Tüm Hakları Saklıdır. @DateTime.Now.Year" />
    <meta name="description" content="Son Kalite Endüstriyel Paslanmaz Ürünlerimizi İnceleyebilirsiniz Satış Ve Fiyat İçin İletişime Geçebilirsiniz." />
    <meta name="keywords" content="Endüstriyel, Malzeme, Gıda, Vana, Rekor, TEE, Sut Pompası, Yerli uretim, Paslanmaz Montaj Elemanları, Pompa, Paslanmaz, Makina, sakinoks.com, sakinokspompa, sakinoksendüstriyel, Menteşe, sakinoks, endüstriyelkapaklar, BağlantıElemanları, MakinaAyakları, EndüstriyelMalzemeler, Çelik Demir" />
    <meta name="robots" content="Index,follow" />
    <meta http-equiv="refresh" content="300" />

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Load Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700%7CMontserrat:400,700%7CEczar:400,500,600,700,800" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="~/Content/css/basic.css" />
    <link rel="stylesheet" href="~/Content/css/layout.css" />
    <link rel="stylesheet" href="~/Content/css/blogs.css" />
    <link rel="stylesheet" href="~/Content/css/ionicons.css" />
    <link rel="stylesheet" href="~/Content/css/magnific-popup.css" />
    <link rel="stylesheet" href="~/Content/css/animate.css" />
    <link href="https://kit-pro.fontawesome.com/releases/v5.15.4/css/pro.min.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Content/images/favicons/favicon.ico">


    <style>
        .harita {
            position: relative;
            padding-bottom: 30%;
            height: 0;
            overflow: hidden;
        }

            .harita iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100% !important;
                height: 100% !important;
            }
    </style>
</head>



@RenderBody()




<!-- Footer -->
<footer class="align-center">
    <div class="copy animated">© @DateTime.Now.Year sakinoks. all rights reserved.<i class="fad fa-heart"></i> Design by <a href="https://ceoweb.net/">ceoweb</a></div>
</footer>


<!-- jQuery Scripts -->
<script src="~/Content/js/jquery.min.js"></script>
<script src="~/Content/js/jquery.validate.js"></script>
<script src="~/Content/js/masonry.pkgd.js"></script>
<script src="~/Content/js/imagesloaded.pkgd.js"></script>
<script src="~/Content/js/masonry-filter.js"></script>
<script src="~/Content/js/magnific-popup.js"></script>
<script src="~/Content/js/scrollreveal.js"></script>
<script src="~/Content/js/jquery.mb.YTPlayer.js"></script>
<script src="~/Content/js/particles.js"></script>
<script src="~/Content/js/typed.js"></script>

<!-- Main Scripts -->
<script src="~/Content/js/main.js"></script>
</html>
