
@{
    ViewBag.Title = "Hata";
}
<br />
<br />
<br />
<br />
<br />
<br />
<h1 align="center">Bilinmeyen Bir Hata Oluştu</h1>
<h3 align="center"><a href="/Home/Index">>>> Anasayfa <<<</a></h3>
<br />
<br />
<br />
<br />
<br />